{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 80,
    "tabWidth": 4,
    "importOrder": [
        "^@components/(.*)$",
        "^@util/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@styles/(.*)$",
        "^@public/(.*)$"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
