.blog-section {
    @apply my-20 mx-auto flex w-11/12 flex-col text-secondary 2xl:columns-2 2xl:flex-row;

    .blog-hero {
        @apply flex flex-col 2xl:w-1/3;

        .blog-title {
            @apply mx-auto w-full text-center font-clash text-5xl font-light md:text-8xl;
        }

        .introduction {
            @apply text-justify text-xl md:mr-8;

            p {
                @apply mt-8 py-4 px-4;
            }
        }
    }

    .blog-main {
        @apply flex-grow px-2;
    }
}

.post-section {
    @apply my-20 mx-auto flex w-11/12 flex-col text-secondary 2xl:columns-2 2xl:flex-row;

    .post-hero {
        @apply flex-1 px-20 py-4 2xl:px-4 2xl:py-20;

        .post-title {
            @apply mx-auto w-full text-center font-clash text-4xl font-light md:text-5xl;
        }

        .post-date {
            @apply mt-2 font-cabinet text-base font-light md:text-xl;
        }

        .post-desc {
            @apply mt-8 font-cabinet text-lg font-light md:text-2xl;
        }
    }

    .post-main {
        @apply flex flex-grow justify-center 2xl:ml-4;
    }
}

.prose {
    @apply text-secondary;
}

.heading {
    @apply font-clash font-medium text-secondary;
}

.callout {
    @apply mx-auto flex flex-row bg-primary-100 p-6 text-secondary md:w-5/6;

    div:first-child {
        @apply my-auto mx-4;
    }

    div:nth-child(2) {
        @apply flex-grow;
    }
}

.warning {
    @apply flex flex-row bg-yellow-200 p-6;

    .icon {
        @apply my-auto mx-4 text-2xl;
    }

    .desc {
        @apply font-mono font-light italic;
    }
}

.codeblock {
    @apply overflow-auto bg-transparent;
}

.image-container {
    width: 100%;

    > div,
    span {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}

.blog-link {
    @apply font-semibold text-secondary underline decoration-dotted underline-offset-4 hover:text-accent;
}
