@tailwind base;
@tailwind components;
@tailwind utilities;

@import "logo.scss";

@layer base{
    html,
    body {
        @apply m-0 p-0 font-cabinet;
        background: 
            linear-gradient(-45deg, #faedcd, #e8eddf),
            url("/filter/noisefilter.svg");
        background-size: 400% 400%;
        animation: gradient 20s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}