@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "space-grotesk";
    src: url("/fonts/Space-Grotesk/SpaceGrotesk[wght].woff2") format("woff2");
    font-weight: 300 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "uncut-sans";
    src: url("/fonts/Uncut-Sans/Uncut-Sans-VF.woff2") format("woff2");
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}

@layer base {
    html,
    body {
        --notion-font: theme(fontFamily.sans);
        @apply scroll-smooth bg-white text-eerie dark:bg-eerie dark:text-white;
    }

    p,
    li {
        @apply font-sans text-lg text-jet dark:text-cultured;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-grotesk;
    }

    button,
    aside {
        @apply font-grotesk;
    }

    .dark-mode {
        --fg-color: theme(colors.cultured);
        --fg-color-0: var(--fg-color);
        --fg-color-1: var(--fg-color);
        --fg-color-2: var(--fg-color);
        --fg-color-3: var(--fg-color);
        --fg-color-4: var(--fg-color);
        --fg-color-5: rgba(255, 255, 255, 0.7);
        --fg-color-6: #fff;
        --fg-color-icon: #fff;
        --bg-color: theme(colors.eerie);
        --bg-color-0: rgb(71, 76, 80);
        --bg-color-1: rgb(63, 68, 71);
        --bg-color-2: rgba(135, 131, 120, 0.15);
        --notion-red: rgb(255, 115, 105);
        --notion-pink: rgb(226, 85, 161);
        --notion-blue: rgb(82, 156, 202);
        --notion-purple: rgb(154, 109, 215);
        --notion-teal: rgb(77, 171, 154);
        --notion-yellow: rgb(255, 220, 73);
        --notion-orange: rgb(255, 163, 68);
        --notion-brown: rgb(147, 114, 100);
        --notion-gray: rgba(151, 154, 155, 0.95);
        --notion-red_background: rgb(89, 65, 65);
        --notion-pink_background: rgb(83, 59, 76);
        --notion-blue_background: rgb(54, 73, 84);
        --notion-purple_background: rgb(68, 63, 87);
        --notion-teal_background: rgb(53, 76, 75);
        --notion-yellow_background: rgb(89, 86, 59);
        --notion-orange_background: rgb(89, 74, 58);
        --notion-brown_background: rgb(67, 64, 64);
        --notion-gray_background: rgb(69, 75, 78);
        --notion-red_background_co: rgba(89, 65, 65, 0.3);
        --notion-pink_background_co: rgba(83, 59, 76, 0.3);
        --notion-blue_background_co: rgba(120, 162, 187, 0.3);
        --notion-purple_background_co: rgba(68, 63, 87, 0.3);
        --notion-teal_background_co: rgba(53, 76, 75, 0.3);
        --notion-yellow_background_co: rgba(89, 86, 59, 0.3);
        --notion-orange_background_co: rgba(89, 74, 58, 0.3);
        --notion-brown_background_co: rgba(67, 64, 64, 0.3);
        --notion-gray_background_co: rgba(69, 75, 78, 0.3);
    }

    #__next > div > div.notion.notion-app > div.notion-frame > div > main {
        padding-top: 0 !important;
    }

    #__next > div > main {
        padding-bottom: 2em !important;
    }
}

@layer components {
    .border-primary {
        @apply border-jet dark:border-cultured;
    }

    .border-secondary {
        @apply border-cultured dark:border-jet;
    }

    .header {
        @apply fixed top-0 z-50 p-3;
        @apply w-full bg-white dark:bg-eerie;
        @apply border-b-2 border-cultured dark:border-jet;
    }

    .footer {
        @apply border-t-2 border-cultured dark:border-jet;
        @apply flex flex-col items-center justify-evenly px-8 py-2 md:flex-row;
    }

    .card {
        @apply border-primary mx-2 min-w-xs border-2 shadow-md shadow-jet dark:shadow-none;
    }

    .card__nav {
        @apply flex flex-row justify-between p-2 font-grotesk text-sm font-medium;
        @apply border-primary mb-1 border-b-2;
        @apply bg-orange dark:bg-mint dark:text-jet;
        @apply group-hover:bg-razzmatazz dark:group-hover:bg-purple;
    }

    .button-default {
        @apply z-0 m-2 flex h-12 w-min cursor-pointer justify-center whitespace-nowrap rounded-md px-8 py-2.5 font-medium uppercase;
        @apply border-2 border-jet text-jet;
        @apply dark:text-eerie;
        @apply bg-orange hover:bg-razzmatazz dark:bg-mint dark:hover:bg-purple;
    }

    .button-retro {
        @apply flex flex-row items-center text-2xl md:text-4xl;
        @apply text-jet hover:text-orange dark:text-cultured dark:hover:text-purple;
    }

    .button-round {
        @apply mr-2 flex h-8 flex-row items-center text-2xl md:text-4xl;
        @apply group-hover:-rotate-45 group-hover:text-razzmatazz  dark:group-hover:text-purple;
        @apply transition-transform duration-300;
    }

    #spinner g path {
        @apply fill-jet dark:fill-white;
    }

    #spinner g circle {
        @apply fill-orange dark:fill-purple;
    }

    #spinner {
        animation-name: spin;
        animation-duration: 10000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
