@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fg-color: theme(colors.foreground.primary);
    --fg-color-secondary: theme(colors.foreground.secondary);
    --bg-color: theme(colors.background.primary);
    --bg-color-secondary: theme(colors.background.secondary);
    --select-color-0: theme(colors.accent.primary);
    --select-color-1: theme(colors.accent.alternate);
}

.dark-mode {
    --fg-color: theme(colors.background.primary);
    --fg-color-secondary: theme(colors.background.secondary);
    --bg-color: theme(colors.foreground.primary);
    --bg-color-secondary: theme(colors.foreground.secondary);
    --select-color-0: theme(colors.accent.secondary);
    --select-color-1: theme(colors.accent.alternate);
}

@layer base {
    html,
    body {
        --notion-font: theme(fontFamily.sans);
        @apply scroll-smooth bg-background-primary text-foreground-secondary dark:bg-foreground-primary dark:text-background-secondary;
    }

    p,
    li,
    .notion-text {
        @apply font-sans text-lg text-foreground-secondary dark:text-background-secondary md:text-lg;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .notion-h,
    .notion-toggle > summary {
        @apply font-sans font-normal text-foreground-secondary dark:text-background-secondary;
    }

    button,
    aside {
        @apply font-mono;
    }

    #__next > div > main {
        padding-bottom: 2em !important;
    }
}

@layer components {
    .header {
        @apply fixed top-0 z-50 p-3;
        @apply w-full bg-background-primary dark:bg-foreground-primary;
    }

    .footer {
        @apply w-full;
        @apply flex flex-col items-center justify-evenly px-8 py-2 md:flex-row;
    }

    .button-default {
        @apply z-0 m-2 flex h-12 w-min cursor-pointer justify-center whitespace-nowrap rounded-md px-8 py-2.5 font-medium uppercase;
        @apply border-2 border-background-secondary text-background-secondary;
        @apply dark:text-background-primary;
        @apply bg-accent-primary hover:bg-accent-alternate dark:bg-accent-secondary dark:hover:hover:bg-accent-alternate;
    }

    .button-home {
        @apply z-0 m-2 flex h-12 w-40 cursor-pointer justify-center whitespace-nowrap rounded-md px-8 py-2.5 font-medium uppercase;
        @apply border-2 border-background-secondary text-background-secondary;
        @apply dark:text-background-primary;
        @apply bg-accent-alternate hover:bg-accent-primary dark:bg-accent-alternate dark:hover:bg-accent-secondary;
    }

    .button-round {
        @apply mr-2 flex h-8 flex-row items-center self-center text-3xl md:text-4xl;
        @apply group-hover:-rotate-45 group-hover:text-accent-primary  dark:group-hover:text-accent-secondary;
        @apply transition-transform duration-300;
    }
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.notion-page-content-has-aside {
    @media (min-width: 1300px) {
        width: calc((96vw + var(--notion-max-width)) / 2);
    }
}

.notion-page-cover-wrapper,
.notion-page-cover-wrapper span,
.notion-page-cover-wrapper img {
    max-width: 1200px !important;
    border-radius: 0;

    @media (min-width: 1300px) {
        border-radius: 24px;
    }
}

.notion-page-cover-wrapper {
    width: 100% !important;
    height: 30vh !important;
    min-height: 30vh !important;
    max-height: 30vh !important;
    box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

.notion-page-cover-wrapper img {
    object-fit: cover;
    object-position: center;
}

.notion-title {
    font-weight: 500;
}

.notion-table-of-contents-item {
    font-size: 16px;
    font-family: "Space Mono", "system-ui";
    font-weight: 500;
}

.notion-link,
.default-link {
    position: relative;
    transition: unset;
    opacity: 1;
    border-bottom-width: 0.1rem;
    border-bottom-style: dotted;
    border-bottom-color: var(--fg-color);
    background: transparent;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 0 0.1rem;

    &:focus,
    &:hover {
        color: var(--select-color-0);
        border-bottom-color: transparent;
        background-image: linear-gradient(
            90.68deg,
            var(--select-color-0) 0.26%,
            var(--select-color-0) 102.37%
        );
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 100% 0.1rem;

        transition-property: background-position, background-size;
        transition-duration: 300ms;
    }
}

.notion-toggle > summary {
    font-size: 22px;
}

.notion-quote {
    font-size: 10px;
    font-family: monospace;
    border-left: 5px solid var(--select-color-0);
    background-color: #2d2d2d;
    padding: 0.75em 1em;

    .notion-text {
        color: #dad7d2 !important;
    }
}

.notion-bookmark {
    padding: 1em;

    .notion-bookmark-link {
        font-family: monospace;
    }

    .notion-bookmark-title {
        font-weight: 500;
        font-family: "Space Mono", system-ui;
        font-size: 1em;
    }

    &:focus,
    &:hover {
        border-bottom-color: transparent;
        background-image: linear-gradient(
            90.68deg,
            var(--select-color-0) 0.26%,
            var(--select-color-0) 102.37%
        );
        background-repeat: no-repeat;

        transition-property: background-image;
        transition-duration: 300ms;
    }
}
